<header>
    <!-- <mat-card class="container-fluid my_header">

        <div class="col-xs-2 header_logo">
            <a href="#"><img src="../../assets/img/logos/MicrosoftTeams-image 1.png" alt="logo"></a>
        </div>

        <div class="col-xs-10 header_content">

            <div>
                <p class="col-xs-6"> 
                    <mat-icon class="col-xs-6">call</mat-icon> 
                    <span class="col-xs-6">555 555 555</span>
                </p>
                <p class="col-xs-6"> 
                    <mat-icon class="col-xs-6">email</mat-icon> 
                    <span class="col-xs-6">caram@gmail.com</span> 
                </p>
            </div>

            <div class="group_middle">
                <div class="col-xs-8">
                        <mat-form-field class="full-width">
                            <input matInput type="text" class="form form-control" placeholder="Search">
                        </mat-form-field>
                </div>
        
                <div class="col-xs-2">
                        <div class="icons_header">
                            <div class="col-xs-6">
                                <mat-icon class="touchable hover_orange-color">person</mat-icon>
                            </div>
                
                            <div class="col-xs-6">
                                <mat-icon class="touchable hover_orange-color">shopping_cart</mat-icon>
                            </div>
                        </div>
                </div>
        
                <div class="col-xs-2 touchable menu_logo">           
                        <img src="../../assets/img/logos/menu_logo.png" alt="menu">
                </div>
            </div>

            <div class="group_filter">
                <div class="col-xs-2 touchable hover_orange-color"><span>News</span><mat-icon>keyboard_arrow_down</mat-icon></div>

                <div class="col-xs-2 touchable hover_orange-color"><span>By Year</span><mat-icon>keyboard_arrow_down</mat-icon></div>

                <div class="col-xs-2 touchable hover_orange-color"><span>By Brand</span><mat-icon>keyboard_arrow_down</mat-icon></div>

                <div class="col-xs-2 touchable hover_orange-color"><span>By Scale</span><mat-icon>keyboard_arrow_down</mat-icon></div>
    
                <div class="col-xs-2 touchable hover_orange-color"><span>By Price</span><mat-icon>keyboard_arrow_down</mat-icon></div>

                <div class="col-xs-2 touchable hover_orange-color"><span>By Type</span><mat-icon>keyboard_arrow_down</mat-icon></div>

            </div>
        </div>

    </mat-card> -->



    <mat-card class="container-fluid my_header">

        <div class="row">

            <div class="col-md-2 header_logo">
                <a href="#"><img src="../../assets/img/logos/MicrosoftTeams-image 1.png" alt="logo"></a>
            </div>

            <div class="col-md-10 header_content">

                <div>
                    <p class="col-xs-6"> 
                        <mat-icon class="col-xs-6">call</mat-icon> 
                        <span class="col-xs-6">555 555 555</span>
                    </p>
                    <p class="col-xs-6"> 
                        <mat-icon class="col-xs-6">email</mat-icon> 
                        <span class="col-xs-6">caram@gmail.com</span> 
                    </p>
                </div>
    
                <div>
                    <div class="col-xs-8">
                            <mat-form-field class="full-width">
                                <input matInput type="text" class="form form-control" placeholder="Search">
                            </mat-form-field>
                    </div>
            
                    <div class="col-xs-2">
                            <div>
                                <div class="col-xs-6">
                                    <mat-icon class="touchable hover_orange-color">person</mat-icon>
                                </div>
                    
                                <div class="col-xs-6">
                                    <mat-icon class="touchable hover_orange-color">shopping_cart</mat-icon>
                                </div>
                            </div>
                    </div>
            
                    <div class="col-xs-2 touchable menu_logo">           
                            <img src="../../assets/img/logos/menu_logo.png" alt="menu">
                    </div>
                </div>

            </div>

        </div>

        <div class="row my_filter">
                <div class="col-xs-2 touchable hover_orange-color"><span>News</span><mat-icon>keyboard_arrow_down</mat-icon></div>

                <div class="col-xs-2 touchable hover_orange-color"><span>By Year</span><mat-icon>keyboard_arrow_down</mat-icon></div>

                <div class="col-xs-2 touchable hover_orange-color"><span>By Brand</span><mat-icon>keyboard_arrow_down</mat-icon></div>

                <div class="col-xs-2 touchable hover_orange-color"><span>By Scale</span><mat-icon>keyboard_arrow_down</mat-icon></div>
    
                <div class="col-xs-2 touchable hover_orange-color"><span>By Price</span><mat-icon>keyboard_arrow_down</mat-icon></div>

                <div class="col-xs-2 touchable hover_orange-color"><span>By Type</span><mat-icon>keyboard_arrow_down</mat-icon></div>   
        </div>

    </mat-card>

</header>