.header_logo img{
    max-height: 200px;
}

.menu_logo img{
    height: 85px;
}

.menu_logo{
    text-align: center;
}

.hover_orange-color:hover{
    color: #FCA311;
}

.touchable{ 
    cursor: pointer;
}

.my_header{
    background: #14213D;
}

.header_content{
    height: 200px;
}

.full-width{
    width: 100%;
}

.full-width input{
    background: dimgrey;
}

.header_element_height{
    min-height: 70px;
}

.group_middle{
    height: 100px;
    margin: 35px 0;
}

.group_middle div {
    line-height: 120px;
}

.icons_header div {
    text-align: center;
    vertical-align: middle;
    height: 50px;
}

.icons_header div mat-icon{
    line-height: 50px;
}

/* ----------------- changing style of mat-input ------------------------- */
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #FCA311 !important;
}

::ng-deep .mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #FCA311 !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    /*change the underline (hide)*/
    height: 0px !important;
}

/* -------------- change bootstrap -------------*/
.form-control:focus{
    box-shadow: none !important;
}