.header_logo img{
    max-height: 200px;
}

.menu_logo img{
    max-height: 85px;
}

.menu_logo{
    text-align: center;
}

.hover_orange-color:hover{
    color: #FCA311;
}

.touchable{ 
    cursor: pointer;
}

.my_header, header{
    background: #14213D;
}

.full-width{
    width: 100%;
}

.full-width input{
    background: rgb(64, 64, 64);
}

.my_filter div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal_section{
    height: 110px;
    line-height: 160px;
}

.header_logo_sm img{
    max-height: 100px;
}

.menu_logo_sm img{
    max-height: 40px;
}

.menu_logo_sm{
    line-height: 88px !important;
}

.my_header_sm div{
    height: 100px;
    text-align: center;
    line-height: 100px;
}

/* ----------------- changing style of mat-input ------------------------- */
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #FCA311 !important;
}

::ng-deep .mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #FCA311 !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    /*change the underline (hide)*/
    height: 0px !important;
}

/* -------------- change bootstrap -------------*/
.form-control:focus{
    box-shadow: none !important;
}