.header_logo img{
    max-height: 200px;
}

.menu_logo img{
    height: 85px;
}

.menu_logo{
    text-align: center;
}

.hover_orange-color:hover{
    color: #FCA311;
}

.touchable{ 
    cursor: pointer;
}

.my_header, header{
    background: #14213D;
}

.full-width{
    width: 100%;
}

.full-width input{
    background: rgb(64, 64, 64);
}

.my_filter{
    text-align: center;
}


/* ----------------- changing style of mat-input ------------------------- */
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #FCA311 !important;
}

::ng-deep .mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #FCA311 !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    /*change the underline (hide)*/
    height: 0px !important;
}

/* -------------- change bootstrap -------------*/
.form-control:focus{
    box-shadow: none !important;
}