#footer_logo{
    max-height: 350px;
}

#footer_container{
    display: flex;
}
footer{
    background: #14213D;
}

.logo_SM_footer{
    height: 25px;
    font-size: 25px;
}

#SM_footer{
    display: flex;
    align-items: center;
}
#SM_footer a{
    text-decoration: none;
    color: rgb(240, 240, 240);
    margin: 3px;
}

#footer_top{
    display: flex;
    margin-top: 30px;
}

#email_label{
    display: flex;
    flex-direction: column;
}

.email_label_element{
    margin: 3px;
}

.logo_B_footer{
    max-height: 50px;
}

#brands_info a{
    text-decoration: none;
}

.footer_info_elements{
    margin: 20px;
}

#footer_copy_bottom a{
    color: #FCA311;
}

#input_email{
    height: 40px;
}

#submit_email{
    background: #000;
    border-radius: 5px;
    border: none;
    height: 30px;
    cursor: pointer;
}

#submit_email:hover{
    background: rgb(78, 77, 77);
}

#submit_email:active{
    background: #FCA311;
}