<mat-accordion (click) = "$event.stopPropagation()">
    <mat-expansion-panel *ngFor="let element of type; let i = index">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h2> {{element.category}} </h2>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="col-md-3 touchable" *ngFor="let elContent of element.content">
        <img [src]="elContent.imgUrl">
        <p> {{elContent.name}} </p>
    </div>

    </mat-expansion-panel>
</mat-accordion>
    
