#header_container{
    height: 250px;
    display: flex;
    justify-content: space-between;
    background: #14213D;
}

#header_content{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: space-around;
}

#header_info{
    display: flex;
    justify-content: space-around;
    width: 35%;
}

#header_config_section{
    display: flex;
    width: 100%;
    justify-content: inherit;
    align-items: center;
}

#header_filter_section{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.filter_element:hover, #cart:hover, #user_logo:hover{
    color: #FCA311;
}

#header_logo{
    max-height: 250px;
}

#user_logo{
    font-size: 2em;
}

#user_config{
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}

#search_input{
    background: url('../img/logos/search_logo.png') no-repeat 97% center;
}

#search_bar{
    width: 55%;
    margin-right: 5px;
}

#cart span{
    font-size: 2em;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}

.touchable{
    cursor: pointer;
}

#menu_logo{
    height: 70px;
}

#user_data{
    display: flex;
}
.marginable{
    margin: 5px;
}