.footer_logo{
    text-align: center;
}

.footer_logo img{
    max-height: 350px;
    max-width: fit-content;
    width: -webkit-fill-available;
}

#footer_copy_bottom a{
    color: #FCA311;
}

.logo_B_footer{
    max-height: 50px;
    margin: 2.5px;
}

footer, .my_footer{
    background: #14213D;
}

.full-width{
    width: 100%;
}

.full-width input{
    background: rgb(64, 64, 64);
}

.footer_element{
    padding: 20px;
}

.copy_section a{
    color: #FCA311;
}

.copy_section{
    margin: 10px 0;
}

.footer_element mat-icon{
    color: #FCA311;
}

.footer_element mat-icon:hover{
    color: #f0b665;
}

/* -------------- change bootstrap -------------*/
.form-control:focus{
    box-shadow: none !important;
}